.sidebar {
    width: 400px;
}

.sidebar-content {
    width: 100%;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    display: flex;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: scroll;
}

.sidebar-content h2 {
    margin-bottom: 0;
}

.add-product-panel {
    padding-top: 15px;
    padding-left: 15px;
}

.add-product-panel button {
    font-size: 20px;
}

.sidebar-panel {
    width: calc(100% - 3px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-panel h2 {
    margin-top: 5px;
}

.button {
    background-color: #45cea2;
    color: white;
    border: 3px solid #45cea2;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: #45cea2;
}
