.main-page-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
